<ion-content>
 <div class="container">
    <!-- Big title centered -->
    <h1 >
      Welcome to LexIQ!
    </h1>

    <!-- Login form with fixed width -->
    <form (ngSubmit)="login()" >

      <!-- Email input -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required>
        </ion-input>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          required>
        </ion-input>
      </ion-item>

      <!-- Login button with the custom color -->
      <ion-button 
        expand="block" 
        type="submit" > Log In
      </ion-button>
       
    </form>

    <!-- Text with link to register page -->
    <p>
      Don't have an account? 
      <a routerLink="/register">
        Sign up
      </a>
    </p>

  </div>
</ion-content>
