
<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="reward-wrapper">
    <span class="reward-text">{{ word }}</span>
    <ion-button fill="clear" class="save-button" (click)="toggleSave()">
      <ion-icon 
        [name]="isSaved ? 'bookmark' : 'bookmark-outline'" 
        [style.color]="isSaved ? '#FFFF05' : 'white'" 
        size="large"
      ></ion-icon>
    </ion-button>
  </div>

  <div class="options-container">
    <ion-card 
      class="option-card" 
      *ngFor="let option of options" 
      (click)="selectOption(option)"
      [ngClass]="{
        'correct': selectedOptionId === option.id && option.text === correctAnswer,
        'wrong': selectedOptionId === option.id && option.text !== correctAnswer
      }">
  {{ option.text }}
    </ion-card>
  </div>

  <hr class="separator-line" />

  <div class="view-details" [routerLink]="['/word-details']" [queryParams]="{ from: 'play', word: word, type: type}" role="button" tabindex="0">
    <ion-icon name="eye-outline"></ion-icon>
    <span>View Word Details</span>
  </div>

</ion-content>
