<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        {{ backButtonLabel }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="word-details-content" fullscreen>
  <div class="word-details-wrapper">
    <h1 class="word-title">{{ wordDetails?.name }}</h1>

    <div class="detail-item">
      <span class="label">Color:</span>
      <span class="value">{{ wordDetails?.color }}</span>
    </div>

    <div class="detail-item">
      <span class="label">Idk:</span>
      <span class="value">{{ wordDetails?.idk }}</span>
    </div>
  </div>
</ion-content>
