 ion-header,
ion-toolbar {
  --background: transparent;
  --border-width: 0;
  --border-color: transparent;
  box-shadow: none;
}

.custom-toolbar {
  min-height: 8vh; 
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}

ion-toolbar ion-button {
    font-size: 1rem;
    --padding: 0.5rem 0.7rem;
   --color:white;
}

 


.settings-title {
    margin: 2rem 1.5rem 1rem; 
}
 
.settings-title h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color:white;
}


.saved-words-content {
  --padding: 1rem 1rem;
  --margin:2rem;
}

.saved-words-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  background-color: rgba(240, 248, 255, 0.205);

}

.saved-word-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(75, 0, 130, 0.15);
}

.word-text {
  color: #4B0082;
  font-weight: 600;
  font-size: 1.2rem;
  flex-grow: 1;
}

.details-button {
  --color: hsl(275, 70%, 40%); 
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1rem;
}

.delete-button ion-icon {
  color: #ff0022;
  font-size: 1.4rem;
}