<ion-header>
  <ion-toolbar  class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button class="setting" routerLink="/settings"> 
        <ion-icon name="settings-outline"  slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-content">
      <div class="home-title">
        <h1>What do you feel like today?</h1>
      </div>

      <div class="card-container"> 
        <ion-card class="game-card synonyms-card" (click)="goToPlay('synonym')">
          <ion-card-header>
            <ion-card-title><h1>Synonym Match</h1></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Test your vocabulary
          </ion-card-content>
        </ion-card>

        <ion-card class="game-card antonyms-card" (click)="goToPlay('antonym')">
          <ion-card-header>
            <ion-card-title><h1>Antonym Crack</h1></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Find the opposites
          </ion-card-content>
        </ion-card>
      </div>

      <ion-button class="saved-words-button" expand="block"  routerLink="/saved-words">
        View Saved Words
      </ion-button>



  </div>


</ion-content> 
   