ion-header,
ion-toolbar {
  --background: transparent;
  --border-width: 0;
  --border-color: transparent; 
  box-shadow: none;
}

.custom-toolbar {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 1rem;
}

.setting {
  font-size: 3rem;
  color: #3B3B3B;
}

ion-content {
  --overflow: hidden;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.home-title h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding: 0 1rem;
}

.card-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.game-card {
  width: 90%;
  border-radius: 1rem;
  filter:drop-shadow(0 4px 6px rgba(0, 0, 0, 0.15));
  transition: transform 0.2s ease;
}

.synonyms-card {
  background-color: #D6CBFD;

  ion-card-title,
  ion-card-content {
    color: #8360ED;
  }
}

.antonyms-card {
  background-color: #E0ECFF;

  ion-card-title,
  ion-card-content {
    color: #4A96F7;
  }
}

.saved-words-button {

  // --background:  hsl(57, 97%, 80%);
  --background: transparent;
  --border-width: 2px;
  --border-style: solid;
  --border-color: hsl(60, 100%, 51%);
  --color: hsl(60, 100%, 75%);
  filter:drop-shadow(0 4px 6px rgba(0, 0, 0, 0.15));
  --border-radius: 0.9rem;
  --padding-start: 1.2rem;
  --padding-end: 1.2rem;
  --padding-top: 0.9rem;
  --padding-bottom: 0.9rem;
    font-weight: 600;
    font-size: 1.1rem;
    width: 70%;
    max-width: 400px;
    margin-top: auto;
    margin-bottom: 2rem;
  }
