<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content class="settings-content" [fullscreen]="true">
  <div class="settings-title">
    <h1>Settings</h1>
  </div>

  <div class="difficulty-section">
      <div class="difficulty-label">Difficulty</div> 
      <div class="difficulty-options">
        <ion-button 
          expand="block"
          fill="solid"
          class="difficulty-btn" 
          [class.selected]="selectedDifficulty === 'low'" 
          (click)="selectDifficulty('low')">
          Low
        </ion-button>

        <ion-button 
          expand="block"
          fill="solid"
          class="difficulty-btn" 
          [class.selected]="selectedDifficulty === 'medium'" 
          (click)="selectDifficulty('medium')">
          Medium
        </ion-button>

        <ion-button 
          expand="block"
          fill="solid"
          class="difficulty-btn" 
          [class.selected]="selectedDifficulty === 'high'" 
          (click)="selectDifficulty('high')">
          High
        </ion-button>
      </div>
  </div>


  <ion-button class="logout" (click)="logout()">Log Out</ion-button>

</ion-content> 
 